.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
  animation: turn-page 0.5s forwards;
  margin-inline: 2rem;

  .Content {
    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      font-weight: 500;

      strong {
        font-weight: 700;

        &:hover {
          transition: all 0.3s ease;
          text-shadow: 2px 2px 0 var(--primary-color);
        }
      }
    }
    p {
      margin-bottom: 2rem;
      line-height: 2rem;

      span {
        white-space: nowrap;
        background-color: lightgray;
        padding: 4px 8px;
        border-radius: 6px;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }

    a[id="view-resume-link"] {
      border: none;
      cursor: pointer;
      font-weight: 700;
      transition: all 0.3s ease;
      display: flex;
      width: fit-content;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      p {
        margin: 0;
      }
      &:hover {
        gap: 1.5rem;
      }
    }

    ul {
      display: flex;
      gap: 2rem;

      a {
        svg {
          font-size: 1.5rem;
          transition: all 0.2s ease;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  &.Dark {
    .Content {
      p {
        font-weight: 400;
        span {
          background-color: var(--dark-primary-color);
          &:hover {

            background-color: var(--primary-color);
          }
        }
      }

      ul {
        display: flex;
        gap: 2rem;

        a {
          svg {
            font-size: 1.5rem;
            transition: all 0.2s ease;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}

@media screen and (1023px < width < 1440px) {
  .HomePage {
    .Content {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.2rem;
      }
      a[id="view-resume-link"] {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (767px < width < 1024px) {
  .HomePage {
    .Content {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.2rem;
      }
      a[id="view-resume-link"] {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (639px < width <768px) {
  .HomePage {
    .Content {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
      a[id="view-resume-link"] {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (width < 640px) {
  .HomePage {
    .Content {
      padding: 0 1rem;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
      a[id="view-resume-link"] {
        font-size: 0.8rem;
        margin: 0 auto;
      }

      ul {
        gap: 3rem;
        position: fixed;
        bottom: 1.5rem;
        width: 100%;
        left: 0;
        justify-content: center;
        a {
          svg {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@-webkit-keyframes turn-page {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes turn-page {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
