.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  }
  .HeaderContent {
    margin: auto;
    margin-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .Logo {
      height: 50%;
      img {
        height: 100%;
      }
    }
    .Actions {
      display: flex;
      gap: 3rem;
      max-width: fit-content;
      align-items: center;

      button {
        font-size: 1.5rem;
        color: var(--primary-color);
        transition: color 0.1s;

        &:hover {
          color: var(--dark-primary-color);
        }
      }
      nav {
        ul {
          display: flex;
          gap: 3rem;

          li {
            a {
              opacity: 0.7;
              &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: var(--primary-color);
                transition: width 0.2s;
              }
              &:hover {
                opacity: 1;

                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  &.Dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    .Actions {
      button {
        color: white;
      }
      nav {
        ul {
          li {
            a {
              opacity: 1;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@media (width < 700px) {
  .Header {


    .HeaderContent {
      display: flex;
      justify-content: center;
      width: 100%;

      .Logo {
        display: none;
      }
      .Actions {
        width: 90%;
        max-width: unset;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
    }
  }
}
