@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  --light-color: #f5f5f5;
  --dark-color: #0e1217;
  --gray-color: #c8c8c8;

  --primary-color: #48cfcb;
  --secondary-color: #424242;
  --dark-primary-color: #229799;

  interpolate-size: allow-keywords;

}

[theme-mode="light"] {
  --background-color: var(--light-color);
  --text-color: var(--dark-color);
}

[theme-mode="dark"] {
  --background-color: var(--dark-color);
  --text-color: var(--light-color);
}

html {
  overflow-x: hidden;
  min-width: 360px;

}
body {
  min-width: 360px;
  font-size: 16px;
  width: 100vw;
  accent-color: red;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--primary-color);
}

*::selection {
  color: white;
  background: var(--primary-color);
}
