.ResumeInfoViewer {
  position: relative;
  padding-bottom: 3rem;
  &::before {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    left: 0;
    transform: translateX(-50%);
    transition: all 0.3s;
  }

  &:has(.Company:hover) {
    &:before {
      border: 3px solid var(--primary-color);
    }

    .Avatar {
      opacity: 1;

      -webkit-animation: scale-in-center 0.2s 0.3s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: scale-in-center 0.2s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }

    .Title {
      margin-top: 1rem;
    }
  }

  .Avatar {
    opacity: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    left: 1.5rem;
    top: -1.5rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  .Details {
    height: 65px;
    overflow: hidden;
    padding-left: 2rem;
    transform: translateY(-20px);
    transition: all 0.2s;

    &:hover {
      height: auto;
      height: calc-size(auto);

      .Description {
        font-weight: 500;
        -webkit-animation:
          slide-in-top 0,
          2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation:
          slide-in-top 0,
          2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }

    .Info {
      display: flex;
      justify-content: space-between;

      .Company {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--primary-color);
        transition: all 0.3s;

        &:hover {
          margin-left: 3rem;
          color: var(--dark-primary-color);
        }
      }
      .Title {
        transition: all 0.2s;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--secondary-color);
      }

      .Date {
        margin-top: 6px;
      }
      .Date,
      .Location {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--secondary-color);
      }
    }
    .Description {
      font-size: 1rem;
      font-weight: 400;
      color: var(--dark-secondary-color);
      margin-top: 1rem;
    }
  }

  &.Dark {
    .Avatar {
      border: 3px solid var(--primary-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .Details {
      &:hover {
        .Description {
          font-weight: 400;
        }
      }

      .Info {
        .Company {
          font-weight: 600;
          color: white;
          transition: all 0.3s;

          &:hover {
            color: var(--primary-color);
          }
        }
        .Title {
          font-weight: 300;
          opacity: 0.9;
          color: white;
        }

        .Date {
          margin-top: 6px;
        }
        .Date,
        .Location {
          font-weight: 200;
          color: white;
        }
      }
      .Description {
        font-size: 0.9rem;
        font-weight: 300;
        color: var(--dark-secondary-color);
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (width < 1024px) {
  .ResumeInfoViewer {
    padding-bottom: 1rem !important;

    .Company {
      font-size: 1.25rem !important;
    }

    .Title {
      font-size: 1rem !important;
    }

    .Date,
    .Location,
    .Description {
      font-size: 0.75rem !important;
    }
  }
}

@media screen and (width <= 600px) {
  .ResumeInfoViewer {
    padding-bottom: 1rem !important;

    .Avatar {
      width: 2.5rem;
      height: 2.5rem;
      left: 1rem;
      top: -1.75rem;
    }

    &::before {
      content: "";
      height: 0.75rem;
      width: 0.75rem;
      border: 2px solid gray;
      border-radius: 50%;
    }

    .Details {
      height: 45px;
      .Info {
        .Company {
          font-size: 1rem !important;
          &:hover{
            margin-left: 2rem;
          }
        }
        .Title {
          font-size: 0.75rem !important;
        }
        .Date,
        .Location {
          font-weight: 500 !important;
          font-size: 0.5rem !important;
        }
      }
      .Description {
        margin-top: 0.25rem;
        font-size: 0.5rem !important;
      }
    }
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
